<a href="https://colab.research.google.com/github/Sinisterial/Space/blob/main/Copy_of_Basics5_7_(1)_(1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
5+6

11

In [ ]:
8/9

0.8888888888888888

In [ ]:
a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2nd number: "))
c = a+b

print(c)

Enter the 1st number: 4
Enter the 2nd number: 5
9

In [ ]:
type(a)

int

In [ ]:
type(b)

int

In [ ]:
#Mathematical Equation

x = int(input("Enter the value of x: "))
y= 3*x+5

print("Result is: ",y)

Enter the value of x: 2
Result is:  11

In [ ]:
import math
math.sqrt(25)

5.0

In [ ]:
2**3

8

In [ ]:
import keyword

In [ ]:
len(keyword.kwlist)

35

In [ ]:
keyword.kwlist

In [ ]:
#Question: 1
x = int(input("Enter the value of x: "))

y = x**3+2*x**2+5*x+8

print("Result of the equation is: ",y)

Enter the value of x: 9
Result of the equation is:  944

In [ ]:
#Question: 2

x = int(input("Enter the value of x: "))

y = (x**2+17*x+9)/18

print("Result is: ",y)

Enter the value of x: 3
Result is:  3.8333333333333335

In [ ]:
#Question: 3
x = int(input("Enter the value of x: "))

import math

y = math.sqrt((x**3+2*x+7)/(8*x))

print("Result is: ",y)

Enter the value of x: 6
Result is:  2.212653007891959

Conditional Statement

In [ ]:
a = 8
b = 9
c = 15

if a<b:
  print("Hello")

elif c>b:
  print("Hey")

else:
  print("Bye.............")

Hello

In [ ]:
#Finding the greatest number from given three number


a = int(input("Enter the 1st number: "))
b = int(input("Enter the 2nd number: "))
c = int(input('Enter the 3rd number: '))

if a>b:
  if a>c:
    print("1. Greatest number is: ",a)

  else:
    print("2.Greate number: is : ",c)

elif b>a:
  if b>c:
    print("3. Greatest number is: ",b)

  else:
    print("4. Greatest number is: ",c)

Enter the 1st number: 12
Enter the 2nd number: 4
Enter the 3rd number: 18
2.Greate number: is :  18

Login username and password

In [ ]:
#rahul
#rahul123

user = input("Enter the username: ")

if user=="rahul":
  password = input("Enter the password: ")
  if password=="rahul123":
    print("Login successfully!!!!!!!!!!!!!!")

  else:
    print("Password is incorrect!!!!")

else:
  print("Username is incorrect!!!")

Enter the username: rahul
Enter the password: ajksdjk
Password is incorrect!!!!

**While Loop**

In [ ]:
a = 1

while a<=10:
  print("Number is: ",a)
  a = a+1
else:
  print("Bye",a)

Number is:  1
Number is:  2
Number is:  3
Number is:  4
Number is:  5
Number is:  6
Number is:  7
Number is:  8
Number is:  9
Number is:  10
Bye 11

Nested While Loop

In [ ]:
a = 1
while a<=100:
  print("hello",a)
  a =a+1
  while a>30 and a<=50:
    print("Hi",a)
    a+=1

  while a>70 and a<=90:
    print("Hey",a)
    a = a+1

In [ ]:
#rahul
#rahul123

while True:
  user = input("Enter the username: ")

  if user=="rahul":
    password = input("Enter the password: ")
    if password=="rahul123":
      print("Login successfully!!!!!!!!!!!!!!")
      break

    else:
      print("Password is incorrect!!!!")

  else:
    print("Username is incorrect!!!")

Enter the username: alksjdflk
Username is incorrect!!!
Enter the username: rahul
Enter the password: rahul123
Login successfully!!!!!!!!!!!!!!

For Loop

In [ ]:
for v in range(1,11):
  print(v)

1
2
3
4
5
6
7
8
9
10

In [ ]:
f = ["Orange","Banana","Apple","Kivi"]

for gt in f:
  print(gt)

Orange
Banana
BananaBananaBananaBananaBanana
Apple
Kivi

In [ ]:
for t in ["Sunday","Monday","Tuesday"]:
  print(t)

print("Bye")

Sunday
Monday
Tuesday
Bye

# **Operators**

In [ ]:
12/5

2.4

In [ ]:
12%5

2

In [ ]:
13%9

4

In [ ]:
13//9

1

In [ ]:
-18/4

-4.5

In [ ]:
-18//4

-5

In [ ]:
18//4

4

In [ ]:
import numpy
numpy.ceil(18/4)

5.0

In [ ]:
True and True and True and False

False

In [ ]:
False or False or True or False

True

In [ ]:
3==3

True

In [ ]:
3 is 3

True

In [ ]:
258 ==258

True

In [ ]:
258 is 258

True

In [ ]:
87438562346 is 87438562346

True

In [ ]:
k = [5,6,67,7,6,6,7,8,8]

5 in k

True

In [ ]:
55 in k

False

In [ ]:
55 not in k

True

In [ ]:
55 in not k

# Application of Dictionary

In [ ]:
n = ["Dabang","Pushpa","KGF","DJ","3-Idiot","Krish"]
ac = ["Salaman Khan","Allu Arjun","Yash","Allu Arjun",
      ("Amir khan","Sharman Joshi","R Madhavan"),"Hritik Roshan"]
act = ["Sonakshi Sinha","Rashmika","Shrinidhi shetty","Pooja hegde","Kareena Kapur","Priyanka Chopara"]
c = [100,300,150,250,200,300]

movies  = {"Name":n,"Actor":ac,"Actress":act,"Collection in cr":c}

In [ ]:
movies

{'Name': ['Dabang', 'Pushpa', 'KGF', 'DJ', '3-Idiot', 'Krish'],
 'Actor': ['Salaman Khan',
  'Allu Arjun',
  'Yash',
  'Allu Arjun',
  ('Amir khan', 'Sharman Joshi', 'R Madhavan'),
  'Hritik Roshan'],
 'Actress': ['Sonakshi Sinha',
  'Rashmika',
  'Shrinidhi shetty',
  'Pooja hegde',
  'Kareena Kapur',
  'Priyanka Chopara'],
 'Collection in cr': [100, 300, 150, 250, 200, 300]}

In [ ]:
import pandas
df = pandas.DataFrame(movies)

In [ ]:
df

,Name,Actor,Actress,Collection in cr
0,Dabang,Salaman Khan,Sonakshi Sinha,100
1,Pushpa,Allu Arjun,Rashmika,300
2,KGF,Yash,Shrinidhi shetty,150
3,DJ,Allu Arjun,Pooja hegde,250
4,3-Idiot,"(Amir khan, Sharman Joshi, R Madhavan)",Kareena Kapur,200
5,Krish,Hritik Roshan,Priyanka Chopara,300

In [ ]:
df["Collection in cr"].max()

300

In [ ]:
df[df["Collection in cr"]==300]

     Name          Actor           Actress  Collection in cr
1  Pushpa     Allu Arjun          Rashmika               300
5   Krish  Hritik Roshan  Priyanka Chopara               300

# Task: String data type

In [ ]:
#n1 = "5,000$ and 3,000$ and 7,049$"